<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item lines="full" *ngFor="let vmLegend of legends">
            <ion-label>
              {{ vmLegend.legend.name }}
            </ion-label>
            <ion-button ion-button block outline>Edit</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
