<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item lines="full" *ngFor="let vmLegend of legends; index as i">
              <ion-item-group *ngIf="vmLegend.isEditing">
                  <ion-input [(ngModel)]="newLegendName"></ion-input>
                  <button class="cancel__button" (click)="cancelEdition(i)">Cancelar</button>
                  <button (click)="updateLegendName(i)">Salvar</button>
              </ion-item-group>
              <ion-item-group *ngIf="!vmLegend.isEditing">
                  <ion-label class="ion__label">{{vmLegend.legend.name}}</ion-label>
                  <button (click)="startEdit(i)">Editar</button>
              </ion-item-group>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
